<!DOCTYPE html>
<html>

<head>
  <title>快来查看你的土狗账单~</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" async defer src="https://assets.pinterest.com/js/pinit.js"></script>
</head>
{% load static %}
<style>
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
  }

  .head2 {
    display: flex;
    margin: 0 auto;
    width: 90vw;

    background: #FFFFFF;
    border-radius: 32px;
  }

  .fadeButton {
    width: 35vw;
    border: 2px solid #ED656A;
    border-radius: 50px;
  }

  .rButton {
    width: 35vw;
    background: #ED656A;
    border-radius: 50px;
  }

  .img1 {
    height: 12rem;
    width: 8rem;
  }
</style>

<body>
  <script>
    function down(selector, name) {
      // 生成一个a元素
      var a = document.createElement('a')
      // 将a的download属性设置为我们想要下载的图片名称
      a.download = name || 'pic'
      // 将生成的URL设置为a.href属性
      a.href = '{{posterUrl}}'
      // 触发a的单击事件
      a.click();
    }
  </script>
  <img src="{% static '/app/image/bg3.png' %}" class="bg" />
  <div style="height: 10vh;"></div>
  <div class="head2">

    <div class="container">
      <div style="height: 3vh;"></div>
      <div class="row">
        <div class="col-4">
          <img src="{{posterUrl}}" class="img1" />
        </div>
        <div class="col-8">
          <div style="text-align: center;vertical-align: middle;">
            <img style="width: 8rem;height: 8rem;" src="{% static '/app/image/07.png' %}">
            <br>
            <text>工头已为你生成专属海报</text>
          </div>
        </div>
      </div>
      <div style="height: 5vh;"></div>
      <div style="text-align: center;">
        <button class="btn btn-lg fadeButton" onclick="down('img1')">保存本地</button>
        <a  class="btn btn-lg rButton" style="margin-left: 1rem; color: white;" href="javascript:window.open('http://twitter.com/share?url=' + encodeURIComponent('http://brickcn.xyz/app') + '&text=' + encodeURIComponent('标题'), '', 'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0');void(0)">分享链接</a>
        <!-- Button trigger modal -->
<!--         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button> -->

        <!-- Modal -->
<!--         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="google share-sns" target="_blank"
                  href="https://plus.google.com/share?url=http://brickcn.xyz/app"
                  data-title=" Google+">google+【个人版不能用】</a><br>
                <a href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent('http://brickcn.xyz/app')+'&t='+encodeURIComponent(document.title),'_blank','toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=600, height=450,top=100,left=350');void(0)"
                  style="font-size: 14px;margin-right: 50px;">Facebook </a><br>
                <a href="javascript:window.open('http://twitter.com/share?url=' + encodeURIComponent('http://brickcn.xyz/app') + '&text=' + encodeURIComponent('标题'), '', 'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0');void(0)"
                  style="font-size: 14px;margin-right: 50px;">Twitter</a><br>
                <a href="javascript:window.open('https://www.pinterest.com/pin/create/button/?url='+encodeURIComponent('https://imgconvert.csdnimg.cn/aHR0cHM6Ly91c2VyLWdvbGQtY2RuLnhpdHUuaW8vMjAxNy85LzQvYzQyNzA0NzNjNDJjNGE1ZDE0ZWI0NzRjOGQ5NTcwZWI_aW1hZ2VWaWV3Mi8wL3cvMTI4MC9oLzk2MC9mb3JtYXQvd2VicC9pZ25vcmUtZXJyb3IvMQ'),'_blank','toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=600, height=450,top=100,left=350');void(0)"
                  onclick="window.open(this.href,'','scrollbars=1,resizable=1,width=600,height=450,top=100,left=350');return false;"
                  style="font-size: 14px;margin-right: 48px;">Pinterest</a><br>

                <h2><a href="https://developers.facebook.com/docs/sharing/web">facebook开发者文档</a>
                  <h2>
                    <h2><a href="https://developers.pinterest.com/docs/widgets/save/?">pinterest开发者文档</a>
                      <h2>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div style="height: 5vh;"></div>
      <div class="row">
        <div class="col-4">

          <div style=" text-align: center;margin: auto;padding-top: 1px">
   <img src="{% static '/app/image/temp.jpg' %}" style="width:8rem;height:8rem"/><!-- 
            <text style="font-size: 1.8rem;color: red;">{{priceNow}}</text>
            <br>
            <text style="font-size: 1rem;color: gray;">现价</text>
 -->
          </div>
        </div>
        <div class="col-8">
          <div style="vertical-align: middle;line-height:2rem;padding-top: 1rem">
     <!--        <text
              style="font-size: 1rem;color: gray;">市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;值：<span
                style="color: black;">{{market}}</span></text>
            <br> -->
            <text
              style="font-size: 1rem;color: gray;">底&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;池：<span
                style="color: black;">{{reserve}}BNB</span></text>
            <br>
            <text style="font-size: 1rem;color: gray;">持币地址数量：<span style="color: black;">{{houlders}}</span></text>
            <br>
            <text style="font-size: 1rem;color: gray;">当日交易次数：<span style="color: black;">{{swap_count_24h}}</span></text>
          </div>
        </div>
      </div>
      <!-- <div style="height: 5vh;"></div> -->
      <div>
        <!-- <div id="main" style="width: 95%;height:20rem;"></div>
        <script src="{% static '/app/js/echarts.min.js' %}"></script>
        <script type="text/javascript">
          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('main'));

          //数据模型 time0 open1 close2 min3 max4 vol5 tag6 macd7 dif8 dea9
          //['2015-10-19',18.56,18.25,18.19,18.56,55.00,0,-0.00,0.08,0.09] 
          var data0 = splitData([

{% for point in price_list %}
  ['{{ point.date}}',{{ point.price}},{{ point.price}},{{ point.price}},{{ point.price}},{{ point.price}},{{ point.price}},{{ point.price}},{{ point.price}},{{ point.price}}] {% if not forloop.last %},{% endif %}
{% endfor %}
        
          ]);

          function splitData(rawData) {
            var categoryData = [];
            var values = [];
            var vols = [];
            var macds = [];
            var difs = [];
            var deas = [];
            for (var i = 0; i < rawData.length; i++) {
              categoryData.push(rawData[i].splice(0, 1)[0]);
              values.push(rawData[i])
              vols.push(rawData[i][4]);
              macds.push(rawData[i][6]);
              difs.push(rawData[i][7]);
              deas.push(rawData[i][8]);
            }
            return {
              categoryData: categoryData,
              values: values,
              vols: vols,
              macds: macds,
              difs: difs,
              deas: deas
            };
          }

          function calculateMA(dayCount) {
            var result = [];
            for (var i = 0, len = data0.values.length; i < len; i++) {
              if (i < dayCount) {
                result.push('-');
                continue;
              }
              var sum = 0;
              for (var j = 0; j < dayCount; j++) {
                sum += data0.values[i - j][1];
              }
              result.push(sum / dayCount);
            }
            return result;
          }



          var option = {
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'cross'
              }
            },
            grid: [{
              left: '3%',
              top: '1%',
              height: '58%'
            }, {
              left: '3%',
              right: '10%',
              top: '65%',
              height: '10%'
            }, {
              left: '3%',
              right: '10%',
              top: '78%',
              height: '10%'
            }],
            xAxis: [{
              type: 'category',
              data: data0.categoryData,
              scale: true,
              boundaryGap: false,
              axisLine: {
                onZero: false,
                lineStyle: {
                  color: 'red',
                }
              },
              splitLine: {
                show: false
              },
              splitNumber: 20
            }, {
              type: 'category',
              gridIndex: 1,
              data: data0.categoryData,
              axisLabel: {
                show: false
              },

            }, {
              type: 'category',
              gridIndex: 2,
              data: data0.categoryData,
              axisLabel: {
                show: false
              },

            }],
            yAxis: [{
              scale: true,
              splitArea: {
                show: true
              },
              axisLine: {
                lineStyle: {
                  color: 'red',
                }
              },
              position: 'right'
            }, {
              gridIndex: 1,
              splitNumber: 3,
              axisLine: {
                onZero: false,
                lineStyle: {
                  color: 'red'

                }
              },
              axisTick: {
                show: false
              },
              splitLine: {
                show: false
              },
              axisLabel: {
                show: true
              },
              position: 'right'
            }, {
              gridIndex: 2,
              splitNumber: 4,
              axisLine: {
                onZero: false,
                lineStyle: {
                  color: 'red'

                }
              },
              axisTick: {
                show: false
              },
              splitLine: {
                show: false
              },
              axisLabel: {
                show: true
              },
              position: 'right'
            }],
            dataZoom: [{
              type: 'inside',
              start: 100,
              end: 80
            }, {
              show: true,
              type: 'slider',
              y: '90%',
              xAxisIndex: [0, 1],
              start: 50,
              end: 100
            }, {
              show: false,
              xAxisIndex: [0, 2],
              type: 'slider',
              start: 20,
              end: 100
            }],
            series: [{
              name: '555',
              type: 'candlestick',
              data: data0.values,
              markPoint: {
                data: [{
                  name: 'XX标点'
                }]
              },
              markLine: {
                silent: true,
                data: [{
                  yAxis: 2222,
                }]
              }
            }, {
              name: 'MA5',
              type: 'line',
              data: calculateMA(5),
              smooth: true,
              lineStyle: {
                normal: {
                  opacity: 0.5
                }
              }
            }, {
              name: 'MA10',
              type: 'line',
              data: calculateMA(10),
              smooth: true,
              lineStyle: {
                normal: {
                  opacity: 0.5
                }
              }
            }, {
              name: 'MA20',
              type: 'line',
              data: calculateMA(20),
              smooth: true,
              lineStyle: {
                normal: {
                  opacity: 0.5
                }
              }
            }, {
              name: 'MA30',
              type: 'line',
              data: calculateMA(30),
              smooth: true,
              lineStyle: {
                normal: {
                  opacity: 0.5
                }
              }
            }, {
              name: 'Volumn',
              type: 'bar',
              xAxisIndex: 1,
              yAxisIndex: 1,
              data: data0.vols,
              itemStyle: {
                normal: {
                  color: function (params) {
                    var colorList;
                    if (data0.values[params.dataIndex][1] > data0.values[params.dataIndex][0]) {
                      colorList = '#ef232a';
                    } else {
                      colorList = '#14b143';
                    }
                    return colorList;
                  },
                }
              }
            }, {
              name: 'MACD',
              type: 'bar',
              xAxisIndex: 2,
              yAxisIndex: 2,
              data: data0.macds,
              itemStyle: {
                normal: {
                  color: function (params) {
                    var colorList;
                    if (params.data >= 0) {
                      colorList = '#ef232a';
                    } else {
                      colorList = '#14b143';
                    }
                    return colorList;
                  },
                }
              }
            }, {
              name: 'DIF',
              type: 'line',
              xAxisIndex: 2,
              yAxisIndex: 2,
              data: data0.difs
            }, {
              name: 'DEA',
              type: 'line',
              xAxisIndex: 2,
              yAxisIndex: 2,
              data: data0.deas
            }]
          };
          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
        </script> -->

      </div>
      <div style="height: 5vh;"></div>
      <div style="margin-left: 1rem; font-size: 1rem;">
        <div style="text-align: center;">
        <text style="color: black;text-align: center;"><b>偷偷告诉你，Brick是meme！</b><br></text></div>
          <text style="color: black;"><b>当你能看到这段话时，证明Brick已经成功创造了热点，接下来你懂的!</b></text>
      </div>
      <div style="height: 5vh;"></div>
    </div>
  </div>
  <div>
    <a href="https://pancakeswap.finance/swap?outputCurrency=0xc4893fea8547fb1a4d860518285af6655424645f">
      <div style="text-align:center">
        <button type="submit" value="Submit" type="button" class="btn btn-danger btn-lg "
          style="width: 70vw;background: #ED656A;box-shadow: inset 1px 2px 2px 0 rgba(255,255,255,0.39);border-radius: 49.5px;">去薄饼购买</button>
      </div>
    </a>
  </div>
  <div style="height: 5vh;"></div>
  <div style="text-align: center;">
    <div class="row" style="width: 80vw;margin:0 auto;">
      <a href="{% url 'connectUs' %}" class="col">
        <img src="{% static '/app/image/connectL.png' %}" />
        <text style="color: black;">联系工棚</text>
      </a>
      <a class="col">
        <img src="{% static '/app/image/walletL.png' %}" />
        <text style="color: black;">链接钱包</text>
      </a>
    </div>
    <div style="height: 3vh;"></div>
    <text style="color: gray;">brick工棚科技</text>
  </div>
</body>

</html>